/* .container{
    
    height: 100vh;
    
    display: flex; 
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: row;

}
 .cell{
    height:50px;
    width:50px;
    margin: 0;
    border:1px solid black;
    padding:0;
} 
 .column{
    height:100vh;
    
 } */
.container{
    display: flex;
    height: 100vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}
.column{
    display: flex;
    flex: 1;
    border: 1px solid red;
}

